body {
    background-color: #330055;
    background-image: url("https://previews.123rf.com/images/onyxprj/onyxprj1808/onyxprj180800841/107007822-vector-cinema-doodle-icons-on-black-chalkboard-illustration.jpg");
    background-attachment: fixed;
    background-size: contain;
}